/* ---- Global Styles ---- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}

body {
    position: relative;
}

.height {
    height: 100vh;
    display: flex;
}

.flash {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: red;
    width: 60%;
}


.btn {
    margin-top: 20px;
    width: 60%;
    color: black;
    background-color: #E4E6EA;
    border: 1px solid #E4E6EA;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    padding-top: 80px;
}

.form-control {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

h1 {
    line-height: normal;
    font-weight: bold;
    font-size: 65px;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#login-logo {
    height: 85px;
    width: 85px;
}

.label {
    display: flex;
    width: 60%;
    font-weight: 600;
}

#left {
    background-color: #E4E6EA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-login-logo {
    max-width: 75%;
    height: auto;
    display: block;
}

#top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

#right {
    background-color: white;
    position: relative;
}


/* ---- Logged in Styles ---- */
.sidebar {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100vh;
    background-color: #212529!important;
}

.container-fluid {
    padding: 0px;
}

.navbar {
    padding-top: 10px;
}



.navbar-brand {
    color: white;
    padding-left: 0px;
    margin: 0px;
}

.navbar-brand:hover {
    color: #9b9b9b;
}

.nav {
    display: flex;
    justify-content: center;
    width: 90%;

}

.nav-link {
    margin: 10px;
    padding: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white;
}

.nav-link:hover {
    color: #9b9b9b; 
}

.bi {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.sign-out {
    padding: 20px;
    color: white;!important
}