/* ---- Global Styles ---- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;;
}

body {
    position: relative;
}

.height {
    height: 100vh;
    display: flex;
}

.flash {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: red;
    width: 60%;
}


.btn {
    margin-top: 20px;
    width: 60%;
    color: black;
    background-color: #E4E6EA;
    border: 1px solid #E4E6EA;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    padding-top: 80px;
}

.form-control {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

h1 {
    line-height: normal;
    font-weight: bold;
    font-size: 65px;
}

.header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#login-logo {
    height: 85px;
    width: 85px;
}

.label {
    display: flex;
    width: 60%;
    font-weight: 600;
}

#left {
    background-color: #E4E6EA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-login-logo {
    max-width: 75%;
    height: auto;
    display: block;
}

#top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

#right {
    background-color: white;
    position: relative;
}


/* ---- Logged in Sidebar ---- */
.sidebar {
    background-color: #F0F2F5;
}

.navbar>.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 500;
    padding: 0px;
    color: #333333;
}

.navbar-brand:hover {
    color: #6c757d;
}

.flex-fill {
    color: #333333;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 8px;
    width: 80%;
    align-self: center;
    margin-bottom: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link-logo {
    opacity: 0.3;
}

#logout {
    color: #333333;
    font-size: 15px;
    position: fixed;
    margin-bottom: 15px;
    bottom: 0;
}

/* ---- Dashboard ---- */

.nav {
    width: 100%;
}

.flex-fill {
    margin-bottom: 20px;
}
