{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="row p-0 m-0 text-center height">
    <div class="col-md-5 p-0 m-0 themed-grid-col" id="left">
        <img id="left-login-logo" src="/static/left-side-login.png" alt="image of a dog">
    </div>

    <div class="col-md p-0 m-0 themed-grid-col" id="right">
        <div class="container">
            <a id="top-right" href="/templates/register.html">Not a member? Sign up here!</a>
            <div class="header">
                <img id="login-logo" src="/static/k9-logo.png" alt="logo">
                <h1>Fetch.</h1>
            </div>

            <form action="/login" method="post">
                <div class="form-group">
                    <label class="label">Email</label>
                    <input type="email" autofocus class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label class="label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" name="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}